.container {
  max-width: 1440px;
  margin: 0 auto;
}

.promo {
  background: url(../img/bg_promo.jpg);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0 93px 0;
  text-align: center;
  &__logo {
    width: 251px;
    height: 45px;
  }
  &__link {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__official {
    font-family: 'Museo Sans 500 Medium';
    color: #ffffff;
    span {
      font-size: 18px;
      font-weight: 700;
      margin-top: 12px;
    }
  }
  &__representative {
    font-size: 12px;
    font-weight: 500;
  }
  .button {
    display: block;
    width: 150px;
    height: 30px;
    background-color: #c70101;
    border: none;
    border-radius: 5px;
    font-family: 'Museo Sans 500 Medium';
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.6s all;
    &:hover {
      background-color: #9b0000;
    }
  }
  &__contact {
    a {
      font-family: 'Museo Sans 700 Bold';
      text-decoration: none;
      font-size: 18px;
      color: #ffffff;
    }
  }
}
