.container {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.button {
  display: block;
  background-color: #c70101;
  border: none;
  border-radius: 5px;
  font-family: $font500;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.6s all;
  &:hover {
    background-color: #9b0000;
  }
}
.label {
  font-family: $font700;
  font-size: 30px;
  color: #0d0d0d;
  text-transform: uppercase;
  text-align: center;
}

@import './promo';
@import './benefits';
@import './consultation';
@import './carousel';
@import './catalog';
